# BOOTCAMP KA DAY#2

EDA

In [1]:
# libraries imprt
import pandas as pn 
import seaborn as sns

ModuleNotFoundError: No module named 'pandas'

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\muhammad waheed\appdata\local\programs\python\python310\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\muhammad waheed\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\muhammad waheed\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\muhammad waheed\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.5)
Requirement already satisfied: six>=1.5 in c:\users\muhammad waheed\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.3 is available.
You should consider upgrading via the 'c:\Users\Muhammad Waheed\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [3]:
pip install -- upgrade pip

SyntaxError: invalid syntax (598550090.py, line 1)

In [4]:
pip install numpy matplotlib

Requirement already satisfied: numpy in c:\users\muhammad waheed\appdata\local\programs\python\python310\lib\site-packages (1.23.4)Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.3 is available.
You should consider upgrading via the 'c:\Users\Muhammad Waheed\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Collecting matplotlib
  Using cached matplotlib-3.6.1-cp310-cp310-win_amd64.whl (7.2 MB)
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\muhammad waheed\appdata\roaming\python\python310\site-packages (from matplotlib) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\muhammad waheed\appdata\roaming\python\python310\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\muhammad waheed\appdata\roaming\python\python310\site-packages (from matplotlib) (3.0.9)
Collecting pillow>=6.2.0
  Using cached Pillow-9.2.0-cp310-cp310-win_amd64.whl (3.3 MB)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.4.4-cp310-cp310-win_amd64.whl (55 kB)
Collecting fonttools>=4.22.0
  Using cached fonttools-4.38.0-py3-none-any.whl (965 kB)
Collecting contourpy>=1.0.1
  Using cached contourpy-1.0.5-cp310-cp310-win_amd64.whl (164 kB)
Requirement already satisfied: six>=1.5 in c:\users\muhammad waheed\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.5 cycler-0.11.0 fonttools-4.38.0 kiwisolver-1.4.4 matplotlib-3.6.1 pillow-9.2.0

In [4]:
import pandas as pn
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [3]:
pip install seasborn

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement seasborn (from versions: none)
ERROR: No matching distribution found for seasborn
WARNING: You are using pip version 21.2.4; however, version 22.3 is available.
You should consider upgrading via the 'c:\Users\Muhammad Waheed\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [1]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [2]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\muhammad waheed\appdata\local\programs\python\python310\lib\site-packages (21.2.4)
Collecting pip
  Downloading pip-22.3-py3-none-any.whl (2.1 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.2.4
    Uninstalling pip-21.2.4:
      Successfully uninstalled pip-21.2.4
Successfully installed pip-22.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install seaborn

Collecting seaborn
  Using cached seaborn-0.12.1-py3-none-any.whl (288 kB)
Collecting matplotlib!=3.6.1,>=3.1
  Using cached matplotlib-3.6.0-cp310-cp310-win_amd64.whl (7.2 MB)
Requirement already satisfied: pandas>=0.25 in c:\users\muhammad waheed\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.5.1)
Requirement already satisfied: numpy>=1.17 in c:\users\muhammad waheed\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.23.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\muhammad waheed\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\muhammad waheed\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\muhammad waheed\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: packaging>=20.0 in c:\users\muhammad waheed\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\muhammad waheed\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\muhammad waheed\appdata\roaming\python\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\muhammad waheed\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\muhammad waheed\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\muhammad waheed\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->seaborn) (2022.5)
Requirement already satisfied: six>=1.5 in c:\users\muhammad waheed\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: matplotlib, seaborn
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.6.1
    Uninstalling matplotlib-3.6.1:
      Successfully uninstalled matplotlib-3.6.1
Successfully installed matplotlib-3.6.0 seaborn-0.12.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import seaborn as sns

In [5]:
import math as mt

In [9]:
df = sns.load_dataset("titanic")

In [10]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True